<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yac Club Home Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Welcome to the Yac Club</h1>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="/api/add-new-player">Add New Player</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="/api/league">Add New League</a>
        </div>
    </div>
</div>
</body>
</html>